{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit: {{ pageTitle }}
{% endblock %}

{% block body %}
    <h1>Edit {{ pageTitle }}</h1>
    <div class="mt-3">
        <form action="{% url 'save' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="title" value="{{ pageTitle }}">
            <textarea name="content">{{ content }}</textarea>
            <div>
                <input type="submit" value="Save Page">
            </div>
        </form>
    </div>
{% endblock %}